#container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

div.row {
  margin-bottom: 1em;
}

img {
    width: 50%;
    height: auto;
}

#image-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 30%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

nav li {
  float: left;
}

li a {
  display: block;
  color: #595959;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

li a:hover {
  background-color: #f2f2f2;
}

.active {
  background-color: #d9d9d9;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#selectedImg {
    width: 100%;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
  width: 30%;
}

.image-thumbnails img {
  opacity: 0.8;
  cursor: pointer;
}

.expanded {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  float: left;
  margin-right: 20px;
  margin-left: 20px;
  width: 60%;
}

.panel {
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  width: 80%;
  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.left {
  float: left;
  width: 18%;
  
}
.right {
  float: left;
  width: 80%;
}

.blog-post {
  max-height: 90px;
  overflow: hidden;
}

.button {
  background-color: #bfbfbf;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 1em;
}

.image-blog {
  float: left;
  width: 30%;
}

.image-blog img {
  width: 100%;
  height: auto;
}

.profile {
  border-radius: 20px;
  width: 100%;
  height: auto;
}

.intro {
  display: inline-block;
  float: left;
  width: 45%;
  padding: 15px;
}

#color, #color-text {
  margin-bottom: 1em;
}

/* Style inputs, select elements and textareas */
.contact, select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.input-contact {
    width: 100%;
}

.container-contact {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 950px;
}

.submit {
    text-align: center;
}